# This file is used to install the required packages for the Flask application.
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
email-validator
python-dotenv
tzdata

# Optional packages for running tests.
selenium
